
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBidLabel" data-translate="auctionApp.bid.home.createOrEditLabel">Create or edit a Bid</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bid.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bid.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="auctionApp.bid.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.bid.price"
                    required />
            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                    ng-show="editForm.price.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="auctionApp.bid.bidder" for="field_bidder">Bidder</label>
            <select class="form-control" id="field_bidder" name="bidder" ng-model="vm.bid.bidderId" ng-options="bidder.id as bidder.name for bidder in vm.bidders"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="auctionApp.bid.auctionItem" for="field_auctionItem">Auction Item</label>
            <select class="form-control" id="field_auctionItem" name="auctionItem" ng-model="vm.bid.auctionItemId" ng-options="auctionItem.id as auctionItem.name for auctionItem in vm.auctionitems"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
